@model SportBook.Models.User;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="wrapper mt-40">
    <form asp-action="LoginValidation" class="text-center login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Username" class="control-label mt-2">Username</label>
        <input asp-for="Username" class="form-control mx-auto mb-2" placeholder="Username" style="max-width:80%" />
        <span asp-validation-for="Username" class="text-danger"></span>
        <br />

        <button type="submit" value="Login" class="btn btn-dark"  >Login</button>
    </div>
    <div class="text-center">
        <label class="mt-2">
            Don't have an account? <br />
            <a href="@Url.Action("Registration", "General")">Register now!</a>
        </label>
    </div>
</form>
</div>


