@{
    ViewData["Title"] = "Home Page";
}
<div class="d-inline-flex p-2">

    <a href="@Url.Action("Sports", "Sports")"><img class="text-left img-fluid img-thumbnail" src="~/Resources/Images/passion-1415656.jpg" style="height:80vh;width:50vw" /></a>
    <a href="@Url.Action("Esports", "Esports")"><img class="text-right img-fluid  img-thumbnail" src="~/Resources/Images/computers-1227142.jpg" style="height:80vh;width:50vw" /></a>
</div>
