@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center container">
        <a href="@Url.Action("Sports", "Sports")"><img class="imgcontainer" src="~/Resources/Images/Login.png" /></a>
        <a href="@Url.Action("Esports", "Esports")"><img class="imgcontainer" src="~/Resources/Images/Registration.png" /></a>
        
    </div>
