
@{
    ViewData["Title"] = "Sports Home";
}

<h1>Sports_home</h1>

<div class="text-center container">
    <a href="@Url.Action("SportsEvents")"><img class="imgcontainer" src="~/Resources/Images/Login.png" /></a>
</div>
