<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-datetimepicker/jquery.datetimepicker.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/moment/moment.js/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
</head>
<body onload="checkDarkMode()">
    <header>
        @*delete bg-white for header to have darkmode*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            @*<div class="container">*@
            <a class="navbar-brand" name="navBar" asp-area="" asp-controller="Home" asp-action="Index">SportBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    @*<li class="nav-item">
                            <a class="nav-link text-dark" name="navBar" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" name="navBar" asp-area="" asp-controller="Home" asp-action="Schedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" name="navBar" asp-area="" asp-controller="Sports" asp-action="Sports">Events</a>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" name="navBar" asp-area="" asp-controller="Admin" asp-action="Index">Administration</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" name="navBar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @await Component.InvokeAsync("ConnectedUsername")
                        </a>
                        <div class="dropdown-menu" id="navDrop" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-dark" name="navBar" asp-area="" asp-controller="Users" asp-action="Profile">Profile</a>
                            <a id="invitations" tabindex="0" class="dropdown-item text-dark pop" data-container="body" data-html="true" title="Your invitations" data-toggle="popover" data-placement="left" data-content="" name="navBar" style="cursor: pointer;">Invitations @await Component.InvokeAsync("Invitations")</a>
                            <div id="vc" style="display:none">
                                @await Component.InvokeAsync("InvitationList")
                            </div>
                            <div class="dropdown-divider"></div>
                            @if (User.Identity.IsAuthenticated)
                            {

                                <a id="qsLogoutBtn" class="dropdown-item text-dark" name="navBar" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            }
                            else
                            {
                                <a id="qsLoginBtn" class="dropdown-item text-dark" name="navBar" asp-area="" asp-controller="Account" asp-action="Login">Login</a>

                            }
                        </div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link text-dark" name="navBar" asp-area="" asp-controller="General" asp-action="Profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" name="navBar" asp-area="" asp-controller="General" asp-action="Login">Logout</a>
                        </li>*@
                    <li class="nav-item">
                        <div class="toggle toggle--daynight">
                            <input type="checkbox" id="toggle--daynight" class="toggle--checkbox">
                            <label class="toggle--btn" for="toggle--daynight"><span class="toggle--feature"></span></label>
                        </div>
                    </li>
                </ul>
            </div>

            @*</div>*@
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SportBook
        </div>
    </footer>

    <script>
        $("#invitations").attr("data-content", $("#vc").html())
        $('.pop').popover({
            trigger: 'manual',
            html: true
        })
            .on('mouseenter', function () {
                var _this = this;
                $(this).popover('show');
                $('.popover').on('mouseleave', function () {
                    $(_this).popover('hide');
                });
            }).on('mouseleave', function () {
                var _this = this;
                setTimeout(function () {
                    if (!$('.popover:hover').length) {
                        $(_this).popover('hide');
                    }
                }, 300);
            });

        var options = {
            backgroundColor: '#cecec9',  // default: '#fff'
        }
        var darkmode = new Darkmode(options);
        document.getElementById('toggle--daynight').addEventListener('click', function () {
            darkmode.toggle();
            const x = document.getElementsByName("navBar");
            const m = document.getElementById("navDrop");
            const f = document.getElementsByClassName("darkmode-background");
            checkNavColor();
            if (darkmode.isActivated()) {
                for (let e of x) {
                    e.classList.add("text-white");
                    e.classList.remove("text-dark");
                    m.style.background = "#313136";
                }
                for (let g of f) {
                    g.style.background = "#cecec9";
                }
            }
            else {
                for (let e of x) {
                    e.classList.remove("text-white");
                    e.classList.add("text-dark");
                    m.style.background = "#FFFFFF";
                }
                for (let g of f) {
                    g.style.background = "#FFFFFF";
                }
                
            }
        });

        $("[name='sportNav']").on("click", function () {
            checkNavColor($(this));
        });

        function checkNavColor(data) {
            const y = document.getElementsByName("sportNav");
            const p = document.getElementsByClassName("nav-link active");
            if (data === undefined) {
                if (darkmode.isActivated()) {
                    for (let g of y) {
                        g.style.background = "#2d96e1";
                    }
                    for (let g of p) {
                        g.style.background = "#31a9ff";
                    }
                }
                else {
                    for (let g of y) {
                        g.style.background = "#FFFFFF";
                    }
                    for (let g of p) {
                        g.style.background = "#FFFFFF";
                    }
                }
            }
            else {
                if (darkmode.isActivated()) {
                    for (let g of y) {
                        g.style.background = "#2d96e1";
                    }
                    data[0].style.background = "#31a9ff";
                }
                else {
                    for (let g of y) {
                        g.style.background = "#FFFFFF";
                    }
                    data[0].style.background = "#FFFFFF";

                }
            }
            
        };

        function checkDarkMode() {
            const x = document.getElementsByName("navBar");
           const m = document.getElementById("navDrop");
            const f = document.getElementsByClassName("darkmode-background");
            if (darkmode.isActivated()) {
                for (let e of x) {
                    e.classList.add("text-white");
                    e.classList.remove("text-dark");
                    m.style.background = "#313136";
                }
                checkNavColor();
            }
            else {
                for (let g of f) {
                    g.style.background = "#FFFFFF";
                }
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>