
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access is denied</title>
</head>
<body style="margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <br />
    <a style="color:red;font-size:30px">You do not have permission for this page!</a>
    <img src="https://media0.giphy.com/media/KbBu3wKwEHKsIVPcWk/giphy.gif?cid=ecf05e4737651a782f2d48fe559f0efee13f14ccb79e1e98&rid=giphy.gif"/>

</body>
</html>
