@model SportBook.Models.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EventsEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxParticipantAmt" class="control-label"></label>
                <input asp-for="MaxParticipantAmt" class="form-control" />
                <span asp-validation-for="MaxParticipantAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" id="toggle" class="input-group-text"><i class="fa fa-calendar-alt"></i></button>
                    </div>
                    <input type="text" asp-for="StartTime" id="datepicker" class="form-control" />
                </div>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" id="toggle" class="input-group-text"><i class="fa fa-calendar-alt"></i></button>
                    </div>
                    <input type="text" asp-for="EndTime" id="datepicker2" class="form-control" />
                </div>
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPrivate" /> @Html.DisplayNameFor(model => model.IsPrivate)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTeamEvent" /> @Html.DisplayNameFor(model => model.IsTeamEvent)
                </label>
            </div>
            <input type="hidden" asp-for="EventId" />
            <input type="hidden" asp-for="FkOwner" />
            <input type="hidden" asp-for="FkLocation" />
            <input type="hidden" asp-for="FkGameType" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" /> <a style="margin-left:5px" onclick="location.href='@Url.Action("Events", "Admin")'" class="btn btn-secondary"><i class="fa fa-list"></i></a>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>

<script>

    $('#datepicker').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:i',
        hours12: false,
        step: 15,
        onShow: function (ct) {
            this.setOptions({
                minDate: new Date(),
                maxDate: $('#datepicker2').val() ? $('#datepicker2').val() : false
            })
        }
    });
    $('#toggle').on('click', function () {
        $('#datepicker').datetimepicker('toggle')
    })

    $('#datepicker2').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:i',
        hours12: false,
        step: 15,
        onShow: function (ct) {
            this.setOptions({
                minDate: $('#datepicker').val() ? $('#datepicker').val() : false
            })
        }
    });
    $('#toggle').on('click', function () {
        $('#datepicker2').datetimepicker('toggle')
    })

</script>