@model IEnumerable<SportBook.Models.User>

<h3>Participants</h3>

<style>
    ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;  
        -webkit-perspective: 1pt;   @* not helping *@
    }
</style>

<ul>
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @item.Username
        </li>
    }
</ul>