@model SportBook.Models.User; 
    
    <span style="padding-right:3px;">

        <img class="img-fluid rounded-circle mb-1" style="max-height:30px;max-width:30px" src="~/Resources/Images/Login.png" />
        @Model.Username
    </span>
