@model SportBook.Models.City

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>
<br />
<div>
    <h4>City</h4>
    <hr />
    <dl class="row" name="navBar">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<br />
<div>
    <a class="btn btn-secondary" asp-action="CitiesEdit" asp-route-id="@Model.CityId" style="color:white; isolation:isolate">Edit</a>
    <a style="margin-left:5px;color:white; isolation:isolate" onclick="location.href='@Url.Action("Cities", "Admin")'" class="btn btn-secondary"><i class="fa fa-list" style="color:white; isolation:isolate"></i></a>
</div>
