
@{
    ViewData["Title"] = "Esports Home";
    Layout = "~/Views/Shared/_EsportsLayout.cshtml";
}

<h1>Esports_home</h1>

<a>Select region: Select sport: Select time: Select something:</a><a href="#">Create game</a>


<h2>Event_1</h2>
<h2>Event_2</h2>
<h2>Event_3</h2>
<h2>Event_4</h2>
<h2>Event_5</h2>