
@{
    ViewData["Title"] = "Tournaments";
    Layout = "~/Views/Shared/_EsportsLayout.cshtml";
}

<h1>Tournaments</h1>

<a style="font-size:50px" href="@Url.Action("Tournament", "Esports")" >Tournament</a>