@model SportBook.Models.Tournament
@{
    ViewData["Title"] = "Tournament";
    Layout = "~/Views/Shared/_EsportsLayout.cshtml";
}
<div class="d-flex flex-row">
    <h1 class="p-2">@Html.DisplayFor(model => model.Name)</h1>

    <a class="btn btn-primary ml-auto p-2">Register</a>
</div>
<h3>@Html.DisplayFor(model => model.Description)</h3>

<h4>@Html.DisplayFor(model => model.StartTime)</h4>

@if (Model.TournamentMember.Count < 2)
{
    <h2 class="text-danger">
        Brackets not ready! Atleast 2 teams need to register!
    </h2>
}
else
{
    <iframe src="@Model.TournamentUrl/module" style="width:100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
}




@section Scripts {
    <script>
        $('.iframe').challonge('single_elim', { subdomain: '', theme: '1', multiplier: '1.0', match_width_multiplier: '1.0', show_final_results: '0', show_standings: '0' });
    </script>
}
