@model SportBook.Models.TournamentMember

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TournamentMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TournamentMemberId" />
            <div class="form-group">
                <label asp-for="FkTournament" class="control-label"></label>
                <select asp-for="FkTournament" class="form-control" asp-items="ViewBag.FkTournament"></select>
                <span asp-validation-for="FkTournament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkTeam" class="control-label"></label>
                <select asp-for="FkTeam" class="form-control" asp-items="ViewBag.FkTeam"></select>
                <span asp-validation-for="FkTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
