@model IEnumerable<SportBook.Models.TeamMember>
@{var teamOwner = ViewData["TeamOwner"] as SportBook.Models.User;}
@{var currentUser = ViewData["CurrentUser"] as SportBook.Models.User;}

@foreach (var item in Model)
{
    <li class="list-group-item">
        <div class="d-flex">
            <div class="mr-2">
                @item.FkUserNavigation.Username
            </div>

            @if (item.FkUser != teamOwner.UserId && currentUser.UserId == teamOwner.UserId) //isOwner
            {
                <a class="btn btn-secondary ml-auto mr-2"><i class="fa fa-user-slash" style="color:white"></i></a>
            }
        </div>

    </li>
}